.transient-notif {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(60px + var(--keyboard, 0px) + 10px);
  background: black;
  color: white;
  padding: 8px 14px;
  border-radius: 18px;
  font-size: 13px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 120ms ease, transform 120ms ease, bottom 0.25s cubic-bezier(0.2, 0.9, 0.4, 1.1);
  z-index: 12005;
  border: 1px solid limegreen;
  display: flex;
  gap: 12px;
  align-items: center;
  white-space: nowrap;
  max-width: calc(100% - 40px);
  box-shadow: 0 4px 12px rgba(27,97,27, 0.5);
}

.transient-notif.visible {
  opacity: 1;
  transform: translateX(-50%);
  pointer-events: auto;
}

.notification-text {
  flex: 1;
}

.notif-buttons {
  display: inline-flex;
  gap: 12px;
}

.notif-btn {
  background: black;
  border: none;
  border-radius: 16px;
  padding: 4px 10px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  color: lime;
  transition:  0.5s;
  pointer-events: auto;
}

.notif-btn:hover {
  transform: scale(1.1);
}
.notif-btn:active{
  transform: scale(0.80);
}